<div class="content_wrapper">
<div class="info">

<a href="/texts">New Seance</a>
</div>

<div class="content">
<div class="wrapper_text"> 

<h1>New Seance</h1>

<%= render 'form' %>

<%= link_to 'Back', seances_path %>

</div>
</div>