<div class="content_wrapper">
<div class="info">
New deputy
</div>

<div class="content">
<div class="wrapper_text"> 


<%= render 'form' %>

<%= link_to 'Back', deputies_path %>

	<hr>

<p><i><strong> Predecessor/Successor </strong> Wann en Deputéierten zréck tried oder stieft, déi säin Virgänger auswielen. Net vergiessen beim Virgänger Deputéierten säin Nofolger auszewielen. </i></p>


</div>
</div>