<div class="content_wrapper">
<div class="info">

<a href="/topics">Topics</a>
</div>

<div class="content">
<div class="wrapper_text"> 

<h1>Editing topic</h1>

<%= render 'form' %>

<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>

</div>
</div>