@media screen {
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: normal;
  src: local('Crimson Text'), local('CrimsonText-Roman'), url('http://themes.googleusercontent.com/static/fonts/crimsontext/v1/3IFMwfRa07i-auYR-B-zNXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
}

body{	
	font-family: Helvetica,"Trebuchet MS",Arial;
	font-size:12px;
	font-weight:normal;
	margin: 0px;
	color: #222222;
	}
body a {
	color: #A4253D;
    font-size: 12px;
    text-decoration: none;
}
body a:hover{
	text-decoration:underline;
}

body a:hover img{vertical-align:bottom;}

h1{
	font-size:18px;
	font-weight:bold;
	}
th{
	font-size:12px;
	font-weight:bold;
	}
td{
	font-size:12px;
	font-weight:normal;
	
	}
h2 {
	 font-size: 12px;
    font-weight: bold;
    padding-left: 0px;
    text-align: left;
	text-shadow: 2px 2px 3px #CDCDCD;
}

div.h2 {
    text-align: left;
	margin-bottom: 5px;
margin-bottom: 8px;
clear: both;
}

div.h2_partei_wrapper {
    text-align: left;
margin-bottom: 18px;
float: left;
}

div.h2_partei_wrapper2 {
    text-align: left;
margin-bottom: 0px;
float: left;
}

span.h2 {
    font-weight: bold;
	text-shadow: 2px 2px 3px #CDCDCD;
}

div.h2_partei {
    font-weight: bold;
	text-shadow: 2px 2px 3px #CDCDCD;
float: left;
}

div.h2_partei_name {
   display: block;
float: left;
}

h3 {
	font-size:12px;
	font-weight:bold;
}

table.content {
border-spacing: 0;
margin: 5px 10px 0;
    width: 755px;
}


table.content_index {
margin: 5px 10px 0;
    width: 755px;
    border-spacing: 0px;
}

th.vote {
	width: 30px;
	}
	

table.content th, table.content_index th {
	border-bottom: 1px solid #eee;
padding-bottom: 10px;
	text-align:left;
   padding-left: 20px;
}


table.content td, table.content_index td {
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
	padding-top:8px;
	vertical-align:top;
}

div.footer {
border-top: 2px solid #333333;
padding-bottom: 25px;
	margin-top: 0px;
	margin-right: 0px;
	font-size:12px;
	text-align: center;
	clear:both;
	color: white;
	height: 55px;
	background: -moz-linear-gradient(center top , #8D7D78, #734347) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8D7D78', endColorstr='#734347'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8D7D78), to(#734347)); /* for webkit browsers */

}
div.footer a{
color: white;
text-decoration: underline;

}
div.footer a:hover {

text-decoration: none;

}
div.header_top {
clear: both;
    float: right;
    font-size: 12px;
    height: 19px;
    padding-right: 18px;
    padding-top: 5px;
    position: relative;
    text-align: right;
    top: -105px;
    width: 150px;
	
}


div.title {
	background-color: #eee;
	padding: 8px;
	margin-top: 70px;
	margin-bottom: 10px;
	margin-right: 20px;
	font-size:12px;
	text-align: center;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

div.title1 {
 color: #444444;
    float: left;
    text-shadow: 2px 2px 3px #CDCDCD;
    width: 530px;
}

div.title1 a {
 color: #444444;
    font-family: Helvetica,"Trebuchet MS",Arial;
    font-size: 50px;
    text-shadow: 2px 2px 3px #CDCDCD;
}

div.title1 a:hover {
text-decoration: none;
}

div.title1_sub {
color: #734347;
    float: left;
    font-family: Helvetica,"Trebuchet MS",Arial;
    font-size: 14px;
    margin-left: 85px;
    position: relative;
    text-shadow: 2px 2px 3px #CDCDCD;
    top: -9px;
    width: 434px;
}

div.navi {
	 clear: right;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-left: 75px;
    text-align: left;
	margin-top: -25px;
}

div.logo {
	 background-image: url("/images/logo.png");
    display: block;
    float: left;
    height: 103px;
    width: 127px;
}

div.blog {
    background-image: url("/images/blog.png");
    background-position: right top;
    background-repeat: no-repeat;
    height: 109px;
    left: 890px;
    width: 110px;
    float: right;
}

div.title {
	display: block;
	float: left;
	}
	
div.navi2 {
	display: block;
   float: left;
   font-size: 12px;
   font-weight: normal;
   text-align: left;
clear: both;
}

div.intro {
	clear: both;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    height: 60px;
    margin-bottom: 25px;
    padding: 5px;
    text-align: left;
    width: 163px;
}


a img {
text-decoration: none;
	border: 0 none;
vertical-align: bottom;
	}

span.bold {
	font-weight:bold; }

#navi ul {
        list-style-type: none;
} 

#navi li {
		display:inline-block;
}

#navi li a { 
        color: #FFF;
        display: block;
		font-size:14px;
        padding: 6px;
        text-decoration: none;
}

#navi li a:hover
{
	background-color:#FFF;
	text-decoration:none;
	color:#333;
	}
	

#votes {
  padding:0;
  margin:0;
  }
#votes li {
  list-style-type: none;
  padding-bottom:5px;
  }
  
div.wrapper {
	clear: both;
    display: block;
    	background-image: url('/images/background.png');
    	background-repeat:repeat-y;
    padding: 0px;
width: 980px;
margin-left: auto;
    margin-right: auto;
    min-height: 690px;

}

div.wrapper_text {
	clear: both;
    display: block;
    float: left;
    padding-left: 10px;
    width: 765px;
border-bottom: 1px solid #EEEEEE;
padding-bottom: 7px;
}


div.header {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

div.content {
    background-color: white;
    display: block;
    float: left;
    padding-top: 10px;
    width: 775px;
}

div.content_static {
  background-color: white;
    border-bottom: 1px solid #EEEEEE;
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 755px;
}

div.content_static_more {
  background-color: white;
    border-bottom: 1px solid #EEEEEE;
    display: block;
    float: left;
    padding-right: 10px;
    width: 765px;
}


div.content_static_error {
  background-color: white;
    border-bottom: 1px solid #EEEEEE;
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
}

div.content_static2 {
  background-color: white;
    border-bottom: 1px solid #EEEEEE;
    display: block;
    float: left;
    padding-left: 10px;
    width: 765px;
padding-top: 10px;
padding-bottom: 10px;
}

div.navi_item {
	border-bottom: 2px solid #333;
   height: 31px;
   margin-bottom: 15px;
   padding-left: 7px;
   margin-right: 0px;
   margin-left: 16px;
   padding-top: 3px;
   width: 140px;
   float: left;
   
	background: -moz-linear-gradient(center top , #8D7D78, #734347) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8D7D78', endColorstr='#734347'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8D7D78), to(#734347)); /* for webkit browsers */

  -moz-box-shadow: 3px 5px 3px #e1e1e1;
   -webkit-box-shadow: 3px 5px 3px #e1e1e1;
   box-shadow: 3px 5px 3px #e1e1e1;
	}
img { vertical-align: bottom;}

div.navi_img {
	 border-right: 1px solid #e3e3e3;
    float: left;
    height: 27px;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 1px;
    width: 30px;
	}
	
div.navi2_link {
	background-color: white;
    float: left;
height: 22px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-top: 8px;
    width: 105px;
    background: -moz-linear-gradient(center top , #FFFFFF, #e1e1e1) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1)); /* for webkit browsers */
 
}
	
div.navi2_link a {
	 text-shadow: 2px 2px 3px #E3E3E3;
	}	
	
	
	div.navi2_item {
    border: 1px solid #EDEDED;
    height: 30px;
clear: both;
    margin-bottom: 8px;
    margin-left: -7px;
    padding-left: 0px;
    padding-top: 0px;
    width: 158px;
 	-moz-box-shadow: 3px 5px 3px #e1e1e1;
   -webkit-box-shadow: 3px 5px 3px #e1e1e1;
   box-shadow: 3px 5px 3px #e1e1e1;
   }
   
   	div.navi2_item a {
   font-size: 13px;
   }
   
div.content_wrapper {
background: -moz-linear-gradient(center top , #8D7D78, #734347) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8D7D78', endColorstr='#734347'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8D7D78), to(#734347)); /* for webkit browsers */
	
 	display: block;
   float: left;
   width: 775px;
   margin-left: 23px;
   padding: 0px 2px 2px;
 
   -moz-box-shadow: 3px 0px 3px #e1e1e1;
   -webkit-box-shadow: 3px 0px 3px #e1e1e1;
   box-shadow: 3px 0px 3px #e1e1e1;
    }

div.links {
	margin-top: 20px;

	}

hr {
	color: #e1e1e1;
    height: 1px;
    opacity: 0.2;
text-shadow: 0 1px 0 #dbdbdb;
	}

div.info {
	border-left: 2px solid #333333;
	color: #555;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
background: -moz-linear-gradient(center top , #FFFFFF, #e1e1e1) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#e1e1e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#e1e1e1)); /* for webkit browsers */
width: 763px;
float: left;
	}
div.info a {
	color: #555;
	text-decoration: underline;
 	}
 	div.info a:hover {
	text-decoration: none;
 	}
div.navi_wrapper {
	display: block;
	float: left;
	}

div.navi2_img {
	  border-right: 2px solid #333;
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 26px;
    margin-bottom: 0;
    padding-right: 2px;
    padding-top: 5px;
    text-align: center;
    width: 29px;
-moz-text-shadow: 1px 2px 3px #e1e1e1;
   -webkit-text-shadow: 1px 2px 3px #e1e1e1;
   text-shadow: 1px 2px 3px #333;
      	background: -moz-linear-gradient(center top , #8D7D78, #734347) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #8D7D78, #734347) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8D7D78', endColorstr='#734347'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8D7D78), to(#734347)); /* for webkit browsers */

	}
	
div.navi_link {
	float: left;
   margin-bottom: 0;
   padding-left: 20px;
   padding-top: 6px;
	text-shadow: 2px 2px 3px #333;
	}
	
	div.navi_link a {
	color: white;
    font-size: 13px;
    font-weight: normal;
	}
	
div.projet {
	display:block;
	float:left;
width: 140px;
}

div.projet1 {
	display:block;
	float:left;
width: 510px;
padding-right: 55px;
}

div.result3 {
	display: block;
    float: left;
    width: 22%;
    padding-right: 0px;
margin-top: 0px;
}

div.result {
	display: block;
    	float: left;
    	width: 300px;
    	padding-right: 5px;
    	padding-left: 15px;
}

div.LSAP {
	background-color: #FA2017;
    float: left;
    height: 13px;
    margin-top: 1px;
    width: 13px;
margin-left: 3px;
    margin-right: 3px;
	}
	
div.DP {
	background-color: #0e5e93;
    float: left;
    height: 13px;
    margin-top: 1px;
    width: 13px;
margin-left: 3px;
    margin-right: 3px;
	}

div.ADR {
	background-color: #b7d2c9;
    float: left;
    height: 13px;
    margin-top: 1px;
    width: 13px;
margin-left: 3px;
    margin-right: 3px;
	}
	
div.CSV {
	background-color: #000;
    float: left;
    height: 13px;
    margin-top: 1px;
    width: 13px;
margin-left: 3px;
    margin-right: 3px;
	}
	
div.Gréng {
	background-color: #4fac24;
    float: left;
    height: 13px;
    margin-top: 1px;
    width: 13px;
margin-left: 3px;
    margin-right: 3px;
	}
	
div.Lénk {
	background-color: #a2000b;
    float: left;
    height: 13px;
    margin-top: 1px;
    width: 13px;
margin-left: 3px;
    margin-right: 3px;
	}
	
div.Piraten {
	background-color: #993399;
    float: left;
    height: 13px;
    margin-top: 1px;
    width: 13px;
margin-left: 3px;
    margin-right: 3px;
	}
	
div.KPL {
	background-color: #682628;
    float: left;
    height: 13px;
    margin-top: 1px;
    width: 13px;
margin-left: 3px;
    margin-right: 3px;
	}
	
th {
	font-size: 12px;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px 3px #CDCDCD;
	}

div.result2 {
	padding-bottom:0px;
margin-right: 100px;
}

div.wrapperDEP {
	width:100%;
	display:block;
	float:left;
	clear:both;
	border: 0px black solid;
	padding-left:15px;
	padding-right:15px;
	margin-right:15px;
	padding-bottom:30px;
}
div.profil {
	display:block;
	float:left;
	width:65%;
	border: 0px red solid;
	padding-top:0px;
}
div.dossiers {
	border: 0 solid yellow;
    display: block;
    float: left;
    padding: 35px 37px 15px 10px;
}

div.dossiers2 {
    display: block;
    float: right;
}

div.dataTables_wrapper {
	float: left;
	margin-top: 5px;
	}

/* Code for sorting */
.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center left;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center left;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center left;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center left;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	background-color: #EEEEEE;
	width: 749px;
	padding: 3px;
	 border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.paging_full_numbers {
background-color: #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 1px;
    text-align: center;
    width: 753px;
}
 
.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
cursor: pointer;
    margin: 0 2px;
    padding: 2px 29px;
}
 
.paging_full_numbers span.paginate_button {
	background-color: white;
}
 
.paging_full_numbers span.paginate_button:hover {
	background-color: #8c93fe;
	color: white;
}
 
.paging_full_numbers span.paginate_active {
	background: -moz-linear-gradient(center top, #8C93FE, #5961cd) repeat scroll 0 0 transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C93FE', endColorstr='#5961cd'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8C93FE), to(#5961cd)); /* for webkit browsers */
 
	color: white;
	font-weight: bold;
}

/* Session buttons */
div.session_btn {
    color: white;
    cursor: pointer;
    float: left;
    font-weight: bold;
    line-height: 21px;
    margin: 1px 2px 0;
    padding: 0 7px;
    width: 74px;
    background: -moz-linear-gradient(center top, #8C93FE, #5961cd) repeat scroll 0 0 transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C93FE', endColorstr='#5961cd'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8C93FE), to(#5961cd)); /* for webkit browsers */
}

div.session_btn a {
	color: white;
}

span.session_btn:hover {
	background-color: #eee;
}

.session_wrapper {
background-color: #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    height: 24px;
    line-height: 22px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 0;
    padding: 1px 3px 0 10px;
    text-align: center;
    width: 742px;
	}

div.up {
	float: right;
	width: 20px;
}

div.details {
background-color: #EEEEEE;
    border-radius: 4px 0 0 4px;
    float: left;
    -moz-border-radius: 4px 0 0 4px;
    padding: 4px;
    width: 554px;
}

div.dep_details {
background-color: #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    float: left;
    -moz-border-radius: 4px 4px 4px 4px;
    padding: 3px;
    width: 749px;
    margin-top: 5px;

}

div.more {
background-color: #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    float: left;
    -moz-border-radius: 4px 4px 4px 4px;
    padding: 4px;
    width: 740px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 14px;
}

div.more2 {
background-color: #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
    padding: 4px;
    text-align: center;
    width: 747px;
}

div.dep_details2 {
margin-bottom: 10px;
background-color: #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    float: left;
    -moz-border-radius: 4px 4px 4px 4px;
    padding: 3px;
    width: 749px;
}

div.d_wrapper {
float:left;
width: 100%;
}

div.d_fav {

    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    float: right;
    margin-right: 10px;
    padding: 4px 2px 4px 50px;
    width: 136px;
background: -moz-linear-gradient(center top, #8C93FE, #5961cd) repeat scroll 0 0 transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C93FE', endColorstr='#5961cd'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8C93FE), to(#5961cd)); /* for webkit browsers */
 
color: white;
font-weight: bold;
}

div.dep_contact {
clear: both;
    display: block;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 240px;
}

div.contact_top {
background: -moz-linear-gradient(center top, #8C93FE, #5961cd) repeat scroll 0 0 transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C93FE', endColorstr='#5961cd'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8C93FE), to(#5961cd)); /* for webkit browsers */
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    color: white;
    float: left;
    font-weight: bold;
    padding: 5px 5px 3px;
    width: 230px;
}

div.contact_btm{
border: 1px solid #EEEEEE;
    padding: 4px;
    width: 230px;
float: left;
text-align: center;
}

div.d_fav a {
color: white;
}

#button{
width:100px; 
height:100px; 
border:0px;
padding:13px 5px;
text-align:center; 
font-size:16px; 
font-family: Helvetica,"Trebuchet MS",Arial;
color:#fff
}

.nav{
	padding-top:10px;
color: white;
    font-weight: bold;
    text-shadow: 2px 1px 3px #777777;
}

div.slider {
    display: block;
    float: left;
    width: 246px;
border-left: 2px solid #333333;
	color: #555;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
background: -moz-linear-gradient(center top , #FFFFFF, #e1e1e1) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#e1e1e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#e1e1e1)); /* for webkit browsers */
}


div.beta_div {
float: right;
    left: -515px;
    position: relative;
    top: 64px;
-moz-transform: rotate(-35deg);
-webkit-transform: rotate(-35deg);
}

.usual {
    background: none repeat scroll 0 0 #fff;
    width: 775px;
}

.usual li {
    float: left;
    list-style: none outside none;
}

.usual ul a.selected {
background: -moz-linear-gradient(center top, #8C93FE, #5961cd) repeat scroll 0 0 transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C93FE', endColorstr='#5961cd'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8C93FE), to(#5961cd)); /* for webkit browsers */
width: 252px;
    color: #fff;
    cursor: default;
    margin-bottom: 0;
    text-decoration: none;
    text-align: center;
}

.usual ul a {
   background: -moz-linear-gradient(center top , #ffffff, #E1e1e1) repeat scroll 0 0 transparent; 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E1e1e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#E1e1e1)); /* for webkit browsers */
color: #555555;
    text-decoration: underline;
    border-left: 2px solid #333333;
    display: block;
    height: 22px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 8px;
    width: 251px;
    text-align: center;
}

.usual ul a:hover {
	    text-decoration: none;
	}

.usual div {
    clear: left;
    padding: 1px 0px;
}

.usual2 {
    background: none repeat scroll 0 0 #fff;
    width: 775px;
}

.usual2 li {
    float: left;
    list-style: none outside none;
}

.usual2 ul a.selected {
background: -moz-linear-gradient(center top, #8C93FE, #5961cd) repeat scroll 0 0 transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C93FE', endColorstr='#5961cd'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8C93FE), to(#5961cd)); /* for webkit browsers */
width: 381px;
    color: #fff;
    cursor: default;
    margin-bottom: 0;
    text-decoration: none;
    text-align: center;
}

.usual2 ul a {
   background: -moz-linear-gradient(center top , #ffffff, #E1e1e1) repeat scroll 0 0 transparent; 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E1e1e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#E1e1e1)); /* for webkit browsers */
color: #555555;
    text-decoration: underline;
    border-left: 2px solid #333333;
    display: block;
    height: 22px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 8px;
    width: 380px;
    text-align: center;
}

.usual2 ul a:hover {
	    text-decoration: none;
	}

.usual2 div {
    clear: left;
    padding: 1px 0px 0px;
}

.usual3 {
    background: none repeat scroll 0 0 #fff;
    width: 775px;
}

.usual3 li {
    float: left;
    list-style: none outside none;
}

.usual3 ul a.selected {
background: -moz-linear-gradient(center top, #8C93FE, #5961cd) repeat scroll 0 0 transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C93FE', endColorstr='#5961cd'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8C93FE), to(#5961cd)); /* for webkit browsers */
width: 189px;
    color: #fff;
    cursor: default;
    margin-bottom: 0;
    text-decoration: none;
    text-align: center;
}

.usual3 ul a {
   background: -moz-linear-gradient(center top , #ffffff, #E1e1e1) repeat scroll 0 0 transparent; 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E1e1e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#E1e1e1)); /* for webkit browsers */
color: #555555;
    text-decoration: underline;
    border-left: 2px solid #333333;
    display: block;
    height: 22px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 8px;
    width: 186px;
    text-align: center;
}

.usual3 ul a:hover {
	    text-decoration: none;
	}

.usual3 div {
    clear: left;
}

div.wrapper_error {
	clear: both;
    display: block;
    	background-image: url('/images/background.png');
    	background-repeat:repeat-y;
    padding: 0px;
width: 980px;
margin-left: auto;
    margin-right: auto;
    min-height: 548px;

}

div.feedback {
position: fixed;
background: -moz-linear-gradient(center top, #8C93FE, #5961cd) repeat scroll 0 0 transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C93FE', endColorstr='#5961cd'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#8C93FE), to(#5961cd)); /* for webkit browsers */
color: white;
padding: 5px;
-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	box-shadow: 3px 5px 3px #E1E1E1;
	font-weight: bold;
}

div.feedback a { color: white;text-decoration: none; }
