
<div class="content_wrapper">
<div class="info"><a href="/disclaimer">Disclaimer</a></div>

<div class="content_static">

	<p>De Logo vun der Chambre des Députés an déi op Depuwatch verëffentlecht Donnéeën ginn am Sënn vun der "<a href="http://chd.lu/wps/portal/public/!ut/p/c1/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gXI5ewIE8TIwN380ATAyMvVy_z0GA_YwsXM6B8pFm8kYVFcJC7o6-rpWWok4GngbNhsGugk5GBpxEB3X4e-bmp-gW5EeUATCJ5_Q!!/dl2/d1/L2dJQSEvUUt3QS9ZQnB3LzZfRDJEVlJJNDIwMERQMTAyTjJFMU0yRDEyODI!/#">Notice légale</a>" vum Site chd.lu zu net-kommerziellen Zwecker benotzt. D'Source vum Logo vun der Chambre des Députés souwuel wéi vun dësen Donnéeën ass den Site <a href="http://chd.lu">Chd.lu</a> vun der Chambre des Députés du Grand-Duché du Luxembourg, 19, rue du Marché-aux-Herbes, L-1728 Luxembourg.</p>
<p>D'Mémorial-Extraitën vun den Dossiéën kommen vun <a href="http://www.legilux.public.lu/">Légilux</a> a ginn wéi op der Säit "<a href="http://www.legilux.public.lu/functions/apropos_du_site/index.html#copyright">à propos du site</a>" duergestallten Art a Wéis zu net-kommerziellen Zwecker benotzt.</p>
<p>D'Responsabel vum Site Depuwatch garantéieren net, dass Donnéeën um Site korrekt sinn.</p>
<p>Bei Froen oder Kommentarer kontaktéiert ons: <a href="/contact">Kontakt</a></p>
</div>