
<div class="content_wrapper">
<div class="info">Frequently asked questions</div>

<div class="content_static">

	<h1>F.A.Q. - Heefeg gestallte Froen</h1>

<p>Fonctionnement</p>
<ul>
<li>Fro</li>
<li>Fro</li>
</ul>
<p>Iwwer de Projet</p>
<ul>
<li>Fro</li>
<li>Fro</li>
</ul>
<p>Technech Infrastruktur</p>
<ul>
<li>Fro</li>
<li>Fro</li>
</ul>
Sonsteges
<ul>
<li>Fro</li>
<li>Fro</li>
</ul>

</div>

<div class="info">Fonctionnement</div>
<div class="content_static">
<p> <img src="/images/013.gif"> <strong>Fro</strong></p>
<p> Äntwert </p>
</div>
<div class="info">Iwwer de Projet</div>
<div class="content_static"></div>
<div class="info">Technech Infrastruktur</div>
<div class="content_static"></div>
<div class="info">Sonsteges</div>
<div class="content_static"></div>

