
<div class="content_wrapper">
<a name="up"> </a>
<div class="info">Frequently asked questions</div>

<div class="content_static">

	<h1>F.A.Q. - Heefeg gestallte Froen</h1>

<p>Fonctionnement</p>
<p>
<img src="/images/013.gif"> Wéi fannen ech e bestëmmten Dossier oder Deputéierten?<br>
<img src="/images/013.gif"> Fro <br>
</p>
<p><strong>Iwwer de Projet</strong></p>
<p>
<img src="/images/013.gif"> <a href="#wien">Wien sidd dir?</a> <br>
<img src="/images/013.gif"> <a href="#chamber">Wier et net besser d'Chamber géif dës Donnéeën ubidde wéi eng politesch Partei? </a><br>
<img src="/images/013.gif"> <a href="#delete">Ech sinn Deputéiert; kann ech meng Donnéeë läschte loossen?</a><br>
</p>
<p>Technech Infrastruktur</p>
<p>
<img src="/images/013.gif"> Fro <br>
<img src="/images/013.gif"> Fro <br>
</p>
Sonsteges
<p>
<img src="/images/013.gif"> Fro <br>
<img src="/images/013.gif"> Fro <br>
</p>

</div>

<div class="info">Fonctionnement</div>

<div class="content_static">
<p> <img src="/images/013.gif"> <strong> Wéi fannen ech e bestëmmten Dossier oder Deputéierten?</strong></p>
<p> Äntwert </p>
</div>

<div class="content_static">
<p> <img src="/images/013.gif"> <strong> Ech wéilt gäre Funktioun A oder Statistik B ...
</strong></p>
<p> Depuwatch wäert stänneg erweidert a verbessert ginn. Wanns Du eng bestëmmte Funktioun wëlls gesinn, schreif ons op <i>info@depuwatch.lu</i>. <br>
Doriwwer raus ass Depuwatch "open source". De Quellcode ass op <a href="https://github.com/svnee/Depuwatch">Github</a> ze fannen. <div class="up"><a href="#up"><img src="/images/012.gif"></a></div> </p>
</div>

<div class="info">Iwwer de Projet</div>

<div class="content_static">
<p> <a name="wien"> </a> <img src="/images/013.gif"> <strong> Wien sidd dir?</strong></p>
<p> Depuwatch ass aus der Zesummenaarbecht vun Politikercheck.lu an der Piratepartei Lëtzebuerg entstanen. <br>
D'Zesummenaarbecht vun Politikercheck.lu an Depuwatch erlaabt et all Bierger den Deputéierte konkret Froen zu bestëmmten Ofstëmmungen ze stellen.<br>
Politikercheck.lu iwwerhëlt am Projet Depuwatch d'Rolle vum onofhängegen Beobachter während déi technesch Infrastruktur vun der Piratepartei Lëtzebuerg offréiert gëtt.
Bei Froen, Kommentaren, oder Kritik <a href="/contact">kontaktéiert</a> d'Partner vun Depuwatch. <div class="up"><a href="#up"><img src="/images/012.gif"></a></div> </p>
</div>

<div class="content_static">
<p> <a name="chamber"> </a> <img src="/images/013.gif"> <strong> Wier et net besser d'Chamber géif dës Donnéeën ubidde wéi eng politesch Partei?</strong></p>
<p> Dach. Momentan sinn d'Donnéeën déi Depuwatch duerstellt awer nëmme schlecht (z.B. Ofstëmmungen) oder guer net (z.B. Präsenze bei Ofstëmmungen, vergaangen Deputéiert) op den offizielle Säiten ze fannen.<br>
D'Depuwatch Partner ënnerstëtzen all Initiativ fir en Projet vun den offizielle Stellen. D'Verantwortlech vun der Chamber kënne mat ons ënnert folgender E-Mail a Kontakt trieden: <i>info@depuwatch.lu</i>. <div class="up"><a href="#up"><img src="/images/012.gif"></a></div> </p>
</div>

<div class="content_static">
<p> <a name="delete"> </a> <img src="/images/013.gif"> <strong> Ech sinn Deputéiert; kann ech meng Donnéeë läschte loossen?</strong></a></p>
<p> Mat der Ausnahm vun de Sozialen Netzwierk Profiler sinn all Donnéeë vun Depuwatch ëffentlech verfügbar. D'Späicheren an d'Verëffentlechung, d'Analyse an d'Diskutéiere vun dësen Donnéeën ass en integrale Bestanddeel vun enger Demokratie a wäerten net geläscht ginn.<br>
Sollt Depuwatch en Sozialen Netzwierk Account vun engem Deputéierte verëffentlechen, deen dës Persoun wëll geheim halen, dann schéckt ons eng Mail op <i>abuse@depuwatch</i>.lu a mir läschen de Link op dëse Profil. Mir empfielen awer an e sou engem Fall de concernéierten Account beim Sozialen Netzwierk och ze läschen oder ze melle wëll sech sou Profiler generell net geheim hale loossen. <div class="up"><a href="#up"><img src="/images/012.gif"></a></div> </p>
</div>

<div class="content_static"></div>
<div class="info">Technech Infrastruktur</div>
<div class="content_static"></div>
<div class="info">Sonsteges</div>
<div class="content_static"></div>

