
<div class="content_wrapper">
<div class="info">Frequently asked questions</div>

<div class="content_static">

	<h1>F.A.Q. - Heefeg gestallte Froen</h1>

<p>Fonctionnement</p>
<p>
<img src="/images/013.gif"> Wéi fannen ech e bestëmmten Dossier oder Deputéierten?<br>
<img src="/images/013.gif"> Fro <br>
</p>
<p>Iwwer de Projet</p>
<p>
<img src="/images/013.gif"> Fro <br>
<img src="/images/013.gif"> Fro <br>
</p>
<p>Technech Infrastruktur</p>
<p>
<img src="/images/013.gif"> Fro <br>
<img src="/images/013.gif"> Fro <br>
</p>
Sonsteges
<p>
<img src="/images/013.gif"> Fro <br>
<img src="/images/013.gif"> Fro <br>
</p>

</div>

<div class="info">Fonctionnement</div>
<div class="content_static">
<p> <img src="/images/013.gif"> <strong> Wéi fannen ech e bestëmmten Dossier oder Deputéierten?</strong></p>
<p> Äntwert </p>
</div>
<div class="info">Iwwer de Projet</div>
<div class="content_static"></div>
<div class="info">Technech Infrastruktur</div>
<div class="content_static"></div>
<div class="info">Sonsteges</div>
<div class="content_static"></div>

