
<div class="content_wrapper">
<div class="info">Frequently asked questions</div>

<div class="content_static">

	<h1>F.A.Q. - Heefeg gestallte Froen</h1>

<p>Fonctionnement</p>
<p>
<img src="/images/013.gif"> Wéi fannen ech e bestëmmten Dossier oder Deputéierten?<br>
<img src="/images/013.gif"> Fro <br>
</p>
<p>Iwwer de Projet</p>
<p>
<img src="/images/013.gif"> Fro <br>
<img src="/images/013.gif"> Fro <br>
</p>
<p>Technech Infrastruktur</p>
<p>
<img src="/images/013.gif"> Fro <br>
<img src="/images/013.gif"> Fro <br>
</p>
Sonsteges
<p>
<img src="/images/013.gif"> Fro <br>
<img src="/images/013.gif"> Fro <br>
</p>

</div>

<div class="info">Fonctionnement</div>

<div class="content_static">
<p> <img src="/images/013.gif"> <strong> Wéi fannen ech e bestëmmten Dossier oder Deputéierten?</strong></p>
<p> Äntwert </p>
</div>

<div class="content_static">
<p> <img src="/images/013.gif"> <strong> Ech wéilt gäre Funktioun A oder Statistik B ...
</strong></p>
<p> Depuwatch wäert stänneg erweidert a verbessert ginn. Wanns Du eng bestëmmte Funktioun wëlls gesinn, schreif ons op info@depuwatch.lu. <br>
Doriwwer raus ass Depuwatch "open source". De Quellcode ass ënnert https://github.com/svnee/Depuwatch ze fannen.  </p>
</div>

<div class="info">Iwwer de Projet</div>

<div class="content_static">
<p> <img src="/images/013.gif"> <strong> Wien sidd dir?
</strong></p>
<p> Depuwatch ass aus der Zesummenaarbecht vun Politikercheck.lu an der Piratepartei Lëtzebuerg entstanen. <br>
D'Zesummenaarbecht vun Politikercheck.lu an Depuwatch erlaabt et all Bierger den Deputéierte konkret Froen zu bestëmmten Ofstëmmungen ze stellen.<br>
Politikercheck.lu iwwerhëlt am Projet Depuwatch d'Rolle vum onofhängegen Beobachter während déi technesch Infrastruktur vun der Piratepartei Lëtzebuerg offréiert gëtt.
Bei Froen, Kommentaren, oder Kritik <a href="/contact">kontaktéiert</a> d'Partner vun Depuwatch. </p>
</div>

<div class="content_static">
<p> <img src="/images/013.gif"> <strong> Wier et net besser d'Chamber géif dës Donnéeën ubidde wéi eng politesch Partei?</strong></p>
<p> Dach. Momentan sinn d'Donnéeën déi Depuwatch duerstellt awer nëmme schlecht (z.B. Ofstëmmungen) oder guer net (z.B. Präsenze bei Ofstëmmungen, vergaangen Deputéiert) op den offizielle Säiten ze fannen.<br>
D'Depuwatch Partner ënnerstëtzen all Initiativ fir en Projet vun den offizielle Stellen. D'Verantwortlech vun der Chamber kënne mat ons ënnert folgender E-Mail a Kontakt trieden: info@depuwatch.lu . </p>
</div>

<div class="content_static"></div>
<div class="info">Technech Infrastruktur</div>
<div class="content_static"></div>
<div class="info">Sonsteges</div>
<div class="content_static"></div>

