
<div class="content_wrapper">
<div class="info">Dépuwatch</div>

<div class="content_static">
<p>Häerzlech wëllkomm op Depuwatch.lu, dem Internetportal dat dem interesséierte Bierger d'Ofstëmmungsverhaalen vun onsen Députéiert an der Chamber transparent an iwwersiichtlech duerstellt.</p></div>

<div class="content_static">
<table style="padding: 15px 0px" cellspacing="5px">
<tr>
<td valign="top"  style="text-align:right;"><a href="/info"><span class="h2">Iwwer de Projet</span></a> </td>
<td  style="padding-left: 15px">Waat ass Dépuwatch, wou kommen d'Donnéeën hier, wien sinn d'Entwéckler? Wéider Informatiounen zum Projet.</td>
</tr>
<tr>
<td valign="top"  style="text-align:right;"><a href="faq"><span class="h2">F.A.Q.</span></a> </td>
<td style="padding-left: 15px">Äntwerten op déi heefegst gestallte Froen zu Dépuwatch.</td>
</tr>
<tr>
<td valign="top"  style="text-align:right;"><a href="/contact"><span class="h2">Kontakt</span></a></td>
<td style="padding-left: 15px">Eng Fro, e Kommentaire oder Kritik?</td>
</tr>
</table>
</div>

<div class="info">Déi neisten Dossiéën</div>

<div class="content_static">

<table class="content_index">
<tr>
	<th width="50px"><img src="/images/dossiers_small.png" alt="logo"></th>
	<th width="80px"><img src="/images/seances_small.png" alt="logo"></th>
	<th>Titel</th>
	<th width="185px" style="padding-left: 25px;"><img alt="logo" src="/images/topics.png"></th>
</tr>
<% @dossiers.each do |t| -%>
<tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
		<td><%= link_to t.code, t%></td>
		<td><%= link_to "#{t.seance.start.strftime("%d/%m/%Y")} #{t.seance.start.strftime("%H:%M")}-#{t.seance.end.strftime("%H:%M")}", t.seance %></td>
		<td><%= t.title %></td>
		<td style="padding-left: 25px; text-align: left;"><%= t.topics_to_str.html_safe %></td>
</tr>
<% end -%>

</table>
</div>
