
<div class="content_wrapper">
<div class="info"><a href="/info">Iwwer de Projet</a></div>

<div class="content_static">

<p><img src="/images/glass.png" align="left" style="margin-right:10px;"> <span class="h2">Ons Zieler: méi Transparenz fir en informéierte Bierger</span></p>
D'Ziel vun der Plattform Depuwatch ass et d'Politik fir de Bierger méi transparent ze gestalten. D'Ofstëmmungen an der Chamber sinn zwar ëffentlech, et ass trotzdem net einfach déi eenzel Ofstëmmungen ze verfollegen. Sou sinn d'Votë vun denDeputéiert um Site vun der Chamber (an engem PDF) ze fannen, ma net an enger iwwersiichtlecher graphescher Duerstellung. Et ass och méiglech Ofstëmmungen op Chamber TV ze verfollegen, ma bei dëser Méiglechkeet ass een und'Sendezäite vum Kanal gebonnen.</p>
<p>Depuwatch soll dës Lücke schléissen an ëffentlech Donnéeën iwwersiichtlech duerstelle fir d'Bierger méi no un d'Politik an d'Deputéiert erun ze bréngen. Dëse Site soll souwuel d'Transparenz vun der politescher Arabescht an der Chamber erhéijen, wéi och d'Bierger zu engem méi direkten Dialog mat den Deputéiert ureegen.</p>

<p><img src="/images/cloud.png" align="left" style="margin-right:10px;"> <span class="h2">Fonctionnement: ëffentlëch Donnéeën iwwersiichtlech duergestallt</span></p>

[text: to do]: http://lux.piratenpad.de/depuwatch-iwwert-der-projet

<p><img src="/images/radar.png" align="left" style="margin-right:10px;"> <span class="h2">Depuwatch Partner: Zesummenaarbecht vu Politikercheck.lu a Piratepartei Lëtzebuerg</span></p>
<p>Depuwatch ass aus enger Idee vun der <a href="http://piratepartei.lu/">Piratepartei Lëtzebuerg</a> a Kooperatioun mat <a href="http://www.politikercheck.lu/">Politikercheck.lu</a> entstaanen. D'Zesummenarbescht vun Politikercheck.lu an Depuwatch erlaabt et all Bierger den Députéierten konkret Froen zu engem bestëmmten Ofstëmmungsverhaalen ze stellen.</p>
<p>Politikercheck.lu iwwerhëllt am Projet Dépuwatch d'Rolle vum onofhängege Beobachter während déi technesch Infrastruktur vun der Piratepartei Lëtzebuerg offréiert gëtt.</p>
<p>Eng Fro, e Kommentar oder Kritik? <a href="/contact">Kontaktéiert ons!</a></p>

</div>