
<div class="content_wrapper">
<div class="info"><a href="/info">Iwwer de Projet</a></div>

<div class="content_static">

<p><img src="/images/glass.png" align="left" style="margin-right:10px;"> <span class="h2">Ons Zieler: méi Transparenz fir en informéierte Bierger</span></p>
<p>D'Ziel vun Depuwatch ass et d'Politik fir d'Bierger méi transparent ze gestalten. D'Ofstëmmungen an der Chamber sinn zwar ëffentlech et ass trotzdem net einfach déi eenzel Voten ze verfollegen. Sou sinn d'Stëmme vun den Deputéiert um <a href="http://chd.lu">Site vun der Chamber</a> (an engem PDF- Dokument) ze fannen, ma net an enger iwwersiichtlecher graphescher Duerstellung. Et ass och méiglech Ofstëmmungen op Chamber TV ze verfollegen, ma bei dëser Méiglechkeet ass een un d'Sendezäite vum Kanal gebonnen.</p>

<p>Depuwatch soll dës Lücke schléissen an ëffentlech Donnéeën iwwersiichtlech duerstelle fir d'Bierger méino un d'Politik an d'Deputéiert erun ze bréngen. Dëse Site soll souwuel d'<strong>Transparenz</strong> vun der politescher Arabescht an der Chamber erhéijen, wéi och d'Bierger zu engem méi direkten </strong>Dialog</strong> mat den Deputéiert ureegen. </p>

<p><img src="/images/013.gif">Hannergrondinformatiounen zum Projet Depuwatch ginn et am <a href="/report">Blog</a></p>

<p><img src="/images/cloud.png" align="left" style="margin-right:10px;"> <span class="h2">Fonctionnement: ëffentlëch Donnéeën iwwersiichtlech duergestallt</span></p>

<p>All Donnéeën vun Depuwatch (bis op Links op Sozial Medien) si vun den <strong>offiziellen Säiten</strong> vun der Chambre des Députés a Politikercheck (Fotoen). Depuwatch verbënnt dës Donnéeën a wéist se an iwwersiichtlecher Duerstellung un. </p>

<p>Donnéeën ginn automatesch aus den offiziellen Dokumenter vun der Chamber erausgelies an an enger Datebank verbonnen. De Fonctionnement vun dëser Datebank, sou wéi d'manuell agedroen Donnéeën goufen vun Piratepartei an Politikercheck op hier Korrektheet gepréift. Zur eegener Iwwerpréifung ass bei all Seance an Dossier e Link op déi offiziell Dokumenter.</p>

<p><img src="/images/flag.gif">E Feeler fonnt? <a href="/report">Mell en ons!</a></p>

<p><img src="/images/radar.png" align="left" style="margin-right:10px;"> <span class="h2">Depuwatch Partner: Zesummenaarbecht vu Politikercheck.lu a Piratepartei Lëtzebuerg</span></p>
<p>Depuwatch ass aus enger Idee vun der <a href="http://piratepartei.lu/">Piratepartei Lëtzebuerg</a> a Kooperatioun mat <a href="http://www.politikercheck.lu/">Politikercheck.lu</a> entstaanen. D'Zesummenarbescht vun Politikercheck.lu an Depuwatch erlaabt et all Bierger den Députéierten konkret Froen zu engem bestëmmten Ofstëmmungsverhaalen ze stellen.</p>
<p>Politikercheck.lu iwwerhëllt am Projet Dépuwatch d'Rolle vum onofhängege Beobachter während déi technesch Infrastruktur vun der Piratepartei Lëtzebuerg offréiert gëtt.</p>
<p><img src="/images/079.gif">Eng Fro, e Kommentar oder Kritik? <a href="/contact">Kontaktéiert ons!</a></p>

</div>
