
<div class="content_wrapper">
<div class="info"><a href="/license">Lizenz</a></div>

<div class="content_static">

	<p>De Site Depuwatch ass ënnert enger <a href="http://creativecommons.org/licenses/by-nc/3.0/lu/">CC BY-NC Lizenz</a> verëffentlecht.</p>
	<p> De Logo souwuel wéi d'Donnéeë vun der Chambre des Députés ënnerleien der an der "<a href="http://chd.lu/wps/portal/public/!ut/p/c1/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gXI5ewIE8TIwN380ATAyMvVy_z0GA_YwsXM6B8pFm8kYVFcJC7o6-rpWWok4GngbNhsGugk5GBpxEB3X4e-bmp-gW5EeUATCJ5_Q!!/dl2/d1/L2dJQSEvUUt3QS9ZQnB3LzZfRDJEVlJJNDIwMERQMTAyTjJFMU0yRDEyODI!/#">Notice Légale</a>" vun der Chambre des Députés verëffentlechter Lizenz.</p>
	<p> D'Mémorial Extraite ënnerleien der op der Säit "<a href="http://www.legilux.public.lu/functions/apropos_du_site/index.html#copyright">A propos du site, Droits d'Auteur</a>" beschriwwener Lizenz. </p>
	<p> D'Fotoen vun den Deputéiert ginn mat der Erlabnis vun <a href="http://www.politikercheck.lu/">Politikercheck</a> benotzt. </p>
	<p> Icons verëffentlëcht ënnert Creative Commons (Attribution 3.0 Unported) by <a href="http://aipotudeng.deviantart.com/">aipotudeng</a>. Social Media Icons verëffentlecht ënnert Creative Commons (Attribution 3.0 Unported) by <a href="http://xeloader.deviantart.com/">xeloader</a></p>

</div>