<div class="content_wrapper">
<div class="info">Merci fir deng Hëllef!</div>

<div class="content">

	<h1>Merci fir deng Hëllef!</h1>
	<p>De Feeler gouf eis erfollegräich gemellt a mir kucken sou schnell et geet fir en ze besäitegen.</p>

</div>