<div class="content_wrapper">
<div class="info"><a href="/search">Search</a> Weider Sichfunktiounen</div>

<div class="content_static">

	 <h1><img src="/images/113.gif"> Search</h1>
	<p> 
  Sich <strong>Dossier</strong> wou Deputéiert <select name="dep" size="2">
      <option>All</option>
      <option>Dep 1</option>
      <option>Dep 2</option>
    </select> mat <input type="checkbox" name="vote" value="Jo"> Jo <input type="checkbox" name="vote" value="Nee"> Nee <input type="checkbox" name="vote" value="Abstentioun"> Abstentioun gestëmmt huet fir Sessioun <select name="leg" size="2">
      <option>All</option>
      <option>2010/2011</option>
      <option>2009/2010</option>
    </select> an Thema <select name="leg" size="2">
      <option>All</option>
      <option>Finances</option>
      <option>Economie</option>
    </select>. <input type="button" name="Search_text" value="Search Dossier"">
</p>


</div>
