<div class="content_wrapper">
<div class="info"><a href="/search">Search</a> Weider Sichfunktiounen</div>

<div class="content_static">

	 <h1><img src="/images/113.gif"> Search</h1>
	<p> 
  Sich <strong>Dossier</strong> wou Deputéiert <select name="dep" size="1" multiple="multiple">
      <option>All</option>
      <option>Dep 1</option>
      <option>Dep 2</option>
    </select> mat <input type="checkbox" name="vote" value="Jo"> Jo <input type="checkbox" name="vote" value="Nee"> Nee <input type="checkbox" name="vote" value="Abstentioun"> Abstentioun gestëmmt huet fir Sessioun <select name="leg" size="2" multiple="multiple">
      <option>All</option>
      <option>2010/2011</option>
      <option>2009/2010</option>
    </select> an Thema <select name="leg" size="2" multiple="multiple">
      <option>All</option>
      <option>Finances</option>
      <option>Economie</option>
    </select>. <input type="button" name="Search_text" value="Search Dossier"">
</p>

<p> 
  Sich <input type="checkbox" name="vote" value="Jo"> aktuellen <input type="checkbox" name="vote" value="Nee"> freiren <strong>Deputéiert</strong> aus Bezierk <select name="bezierk" size="1" multiple="multiple">
      <option>All</option>
      <option>Norden</option>
      <option>Osten</option>
    </select> vun der Partei <select name="leg" size="2" multiple="multiple">
      <option>All</option>
      <option>CSV</option>
      <option>LSAP</option>
    </select> an Thema <select name="leg" size="2" multiple="multiple">
      <option>All</option>
      <option>Finances</option>
      <option>Economie</option>
    </select> mat Präsenz bei Voten iwwer <select name="bezierk" size="1">
      <option>0%</option>
      <option>10%</option>
      <option>20%</option>
    </select> an Vote/Delegatioun iwwer <select name="bezierk" size="1">
      <option>0%</option>
      <option>10%</option>
      <option>20%</option>
    </select>. <input type="button" name="Search_text" value="Search Deputy"">
</p>

</div>
