<div class="content_wrapper">
<div class="info"><a href="/search">Search</a> Weider Sichfunktiounen</div>

<div class="content_static">

	 <h1><img src="/images/113.gif"> Search</h1>
	<p> 
  Sich <strong>Dossier</strong> wou Deputéiert <input name="deputy" type="text" size="20" maxlength="30"> mat <input type="checkbox" name="vote" value="Jo"> Jo <input type="checkbox" name="vote" value="Nee"> Nee <input type="checkbox" name="vote" value="Abstentioun"> Abstentioun gestëmmt huet fir Sessioun <select name="leg" size="1">
      <option>All</option>
      <option>2010/2011</option>
      <option>2009/2010</option>
    </select> an Thema <select name="leg" size="1">
      <option>All</option>
      <option>Finances</option>
      <option>Economie</option>
    </select>. <input type="button" name="Search_text" value="Search Dossier"">
</p>

<p> 
  Sich <strong>Deputéiert</strong> deen bei Dossier n° <input name="deputy" type="text" size="10" maxlength="80"> mat <input type="checkbox" name="vote" value="Jo"> Jo <input type="checkbox" name="vote" value="Nee"> Nee <input type="checkbox" name="vote" value="Abstentioun"> Abstentioun gestëmmt huet. <input type="button" name="Search_text" value="Search Dossier"">
</p>
</div>
