<table class="content">
  <tr>
    <th style="width: 50px;"><img src="/images/dossiers.png" width="25" alt="logo"></th>
    <th>Titel</th>
    <th style="width: 100px;">Mémorial</th>
    <th style="width: 85px;">Séance</th>
  </tr>

<% @texts.each do |text| %>
  <tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
    <td><%= link_to "[#{text.code}]", text %></td>
    <td><%= text.title %></td>
    <td><%= link_to(">>", text.link_memorial) unless text.link_memorial.nil? %></td>
    <td><%= link_to "#{text.seance.nr} | #{text.seance.session.start.strftime("%Y")}-#{text.seance.session.end.strftime("%Y")}", text.seance %></td>
  </tr>
<% end %>
</table>
