<div class="pointer_dossiers"></div>
<div class="content_wrapper">
<div class="info">
	Texts
</div>


<div class="content">
<table class="content">
  <tr>
    <th>Dossier</th>
		<th>Titel</th>
		<th>Themen</th>
  </tr>

<% @texts.each do |text| %>
  <tr onmouseover="style.backgroundColor='#eee';" onmouseout="style.backgroundColor='#fff'">
		<td><%= link_to text.code, text %></td>
		<td><%= text.title %></td>
		<td><%= text.topics_to_str %></td>
  </tr>
<% end %>
</table>
</div>
