<div class="content_wrapper">
<div class="info">

<a href="/texts">New Test</a>
</div>

<div class="content">
<div class="wrapper_text"> 

<h1>New text</h1>

<%= render 'form' %>

<%= link_to 'Back', texts_path %>

</div>
</div>