<div class="pointer_deputeiert"></div>
<div class="content_wrapper">
<div class="info">
Entrée vu Voten
</div>

<div class="content">
	
	<div style="padding: 10px;">
<h1>New vote</h1>

<%= render 'form' %>

</div></div>